
//  POSITION CENTER
//  div {
//      @include centerer('vertical');
//  }
@mixin centerer($position: '')
  position: absolute
  top: 50%
  @if $position=='vertical'
    transform: translate(0, -50%)
  @elseif $position=='horizontal'
         top: inherit
         left: 50%
         transform: translate(-50%, 0)
  @else
  left: 50%
  transform: translate(-50%, -50%)

//MEDIA QUERIES
//Large desktop
@mixin largeDesktop
  @media (min-width: #{$mq-large-desktop})
    @content 

@mixin up-large-desktop 
  @media (min-width: #{$mq-large-desktop})
    @content 

//Desktop
@mixin up-desktop
  @media (min-width: #{$mq-desktop})
    @content 

@mixin desktop
  @media (min-width: #{$mq-desktop}) and (max-width: $mq-large-desktop)
    @content 

@mixin below-desktop
  @media (max-width: #{$mq-desktop})
    @content 

//Small desktop
@mixin up-small-desktop
  @media (min-width: #{$mq-small-desktop})
    @content 

@mixin small-desktop
  @media (min-width: #{$mq-small-desktop}) and (max-width: $mq-desktop)
    @content 

@mixin below-small-desktop
  @media (max-width: #{$mq-desktop})
    @content 

//Tablet
@mixin up-tablet
  @media (min-width: #{$mq-tablet})
    @content 

@mixin below-tablet
  @media (max-width: #{$mq-tablet})
    @content 

@mixin tablet
  @media (min-width: #{$mq-mobile}) and (max-width: #{$mq-tablet})
    @content 


// LERP  
@function between($from, $to, $fromWidth: $small, $toWidth: $large, $ratio: 1) 
  $slope: ($to - $from) / ($toWidth - $fromWidth)
  // @return $slope
  $base: $from - $slope * $fromWidth
  @return calc( ( (#{$base} + #{100vw * $slope)}) * #{$ratio})

// LERP  
@function space($min, $max, $ratio: 1)
   @return between($min, $max, $small, $large, $ratio)

// LERP  
@function space-xs($ratio: 1)
  @return space(8px, 16px, $ratio)  

// LERP  
@function space-s($ratio: 1)
  @return space(16px, 22px, $ratio)  

// LERP  
@function space-m($ratio: 1)
  @return space(32px, 38px, $ratio)  

// LERP  
@function space-l($ratio: 1)
  @return space(64px, 72px, $ratio)  

// LERP  
@function space-xl($ratio: 1)
  @return space(64px, 72px, $ratio)  


//ANTIALIASING
@mixin antialiasing($type: antialiased) 
  -webkit-font-smoothing: $type
  font-smoothing: $type
  font-smooth: always