//Base widths
$small: 1200px
$large: 2920px

//Responsive
$mq-large-desktop: 2100px
$mq-desktop: 1600px
$mq-small-desktop: 1000px
$mq-tablet: 768px
$mq-mobile: 500px

// Color
$color-primary: #000
$color-secondary: #FFF
$color-dark: #444
$color-light: #000

// Other
$box-shadow: 0px 0px 15px rgba(0, 0, 0, .1)
$radius: 8px

// Animation
$t-timing-function: cubic-bezier(0, 0.99, 1, 1)
$t-duration: 0.4s

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Spectral', serif;

//Positions
$pos-xs: 20px;
$pos-s: 30px;
$pos-m: 40px;


// Spacing
$space-xs: 8px
$space-s: 16px
$space-m: 32px
$space-l: 64px
$space-xl: 64px

// Theme 1
$theme-1-color-dark: #000
$theme-1-color-secondary: #000

// Theme 2
$theme-2-color-dark: #000
$theme-2-color-secondary: #000

// Theme 3
$theme-3-color-dark: #000
$theme-3-color-secondary: #000

// Theme 4
$theme-3-color-dark: #000
$theme-3-color-secondary: #000

