@import "./../../styles/core.scss"

.menu 
  position: absolute
  top: 100px
  width: 0
  right: 0
  z-index: 3
  pointer-events: none

  &__container 
    position: relative
    width: 26%
    min-width: 300px
    float: right
    margin-right: $space-m + $space-s
    background: pink
    transition: 
      duration: $t-duration
      property: transform
      timing-function: $t-timing-function

  &__item 
    flex: 1
    display: block
    margin-bottom: $space-l
    padding-right: $space-l
    cursor: pointer
    text-align: right
    background: salmon
    color: $color-secondary
    transition: 
      duration: $t-duration
      property: transform
      timing-function: $t-timing-function

    &__link
      position: relative
      display: block
      color: $color-secondary
      text-decoration: none

    &__title
      display: block
      width: 100%
      position: relative
      margin-bottom: 10px

    &__burger
      position: absolute
      top: 10px
      right: -($space-m * 2) 
      width: $space-m
      height: 1px
      background: yellow
      pointer-events: none
      transition: 
        duration: $t-duration
        property: transform
        timing-function: $t-timing-function

    &__time
      padding-bottom: $space-m 

  &__close
    position: fixed
    right: $space-m
    top: $space-m
    width: $space-m
    height: $space-m
    background-color: transparent
    z-index: 1
    border: none
    box-shadow: none
    color: white
    transition:
      duration: $t-duration
      property: transform, opacity
      timing-function: $t-timing-function

  //States
  &.is-active
    pointer-events: all
    
    .menu
      &__container
        transform: translateY(0)

  &--visible .menu

    &__item
      transform: translateY(0)

    &__close
      transition-delay: $t-duration
      transform: translateX(0)
      opacity: 1

  // &--hidden .menu

  //   &__item
  //     transform: translateY(-100%)

  //   &__close
  //     transition-delay: 0s
  //     transform: translateX($space-xl)
  //     opacity: 0




  
  

