@import "./../../styles/core.scss"

.chapter

  &__text
    position: absolute
    width: 570px
    left: $space-m
    top: $space-m
    color: $color-secondary
    opacity: .5

  &__step__text
    margin-top: 10px
    
  

