@import "./../../styles/core.scss"

.chapter

  &__text
    position: absolute
    left: $pos-s 
    top: $pos-s 
    color: $color-secondary

    &.is-active
      .chapter__title
        opacity: 1
        transform: translateX(0)
        transition:
          delay: $t-duration * 1.5

      .chapter__step__text
        transform: translateY(0)
        opacity: 1
        transition:
          delay: $t-duration * 1.5

  &__step__text
    margin-top: 10px
    width: 570px
    opacity: 0
    transform: translateY($space-l)
    transition:
      property: opacity, transform
      duration: $t-duration * 1.5
      timing-function: $t-timing-function
      delay: 0

  .chapter__title
    transform: translateY($space-m)
    opacity: 0
    transition:
      property: transform, opacity
      duration: $t-duration * 1.5
      timing-function: $t-timing-function
      delay: 0

  //Responsive
  @include up-desktop()
    &__text
      left: $pos-m
      top: $pos-m


  @include up-large-desktop()
    &__step__text
      width: 690px
