@import "./../../styles/core.scss"
  
.letter-reveal
  position: absolute
  white-space: nowrap
  display: inline-block
  
  &__item
    position: relative
    display: inline-block
    transition: 
      duration: $t-duration
      property: transform, opacity, filter
      timing-function: $t-timing-function
    opacity: 0
