@import "./../../styles/core.scss"
  
.scene
  &__bottom-right-nav
    position: fixed
    bottom: $pos-s
    right: $pos-s
    display: flex
    justify-content: flex-end

    @include up-desktop()
      bottom: $pos-m 
      right: $pos-m
