@import "./../../styles/core.scss"
  
.scene
  opacity: 0
  transition: 
    duration: $t-duration
    property: opacity
    
  &__bottom-right-nav
    z-index: 7
    position: fixed
    bottom: $pos-s
    right: $pos-s
    display: flex
    justify-content: flex-end
    transform: translateY(20px)
    opacity: 0
    transition: 
      duration: $t-duration
      property: transform, opacity

  &.is-shown
    opacity: 1

    .scene__bottom-right-nav
    transform: translateY(0)
    opacity: 1

    @include up-desktop()
      bottom: $pos-m 
      right: $pos-m



