@import "./../../styles/core.scss"
  
.intro
  height: 100vh
  width: 100vw
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  z-index: 15
  pointer-events: all

  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: url('/images/intro_background.jpg')
    background-size: cover
    background-repeat: no-repeat
    opacity: 1
    transition: opacity .5s

  &.is-hidden
    pointer-events: none
    &:before
      opacity: 0
    
    .intro
      &__inner
        &__svg
          opacity: 0
          transform: translateY(-300px)
          transition: 
            delay: $t-duration, 0
            duration: 2s
            property: opacity, transform

        &__bottom
          transform: translateY(-80px)
          opacity: 0

      &__video
        opacity: 0

      &__teasing
        transform: translateY(-180px)
        opacity: 0

      &__subtitle
        opacity: 0
        transform: translateY(-180px) translateX(-50%)

  &__inner
    position: absolute
    top: 20%
    bottom: 20%
    width: 650px
    display: flex
    flex-direction: column
    align-items: center
    transition: transform 1s, opacity 1s
    color: $color-secondary
    text-align: center
    z-index: 2

    &__content
      position: relative
      display: flex
      flex-direction: column
      align-items: center
    
    &__bottom
      margin-top: auto
      position: relative
      transition: 
        duration: 1s
        property: opacity, transform
        timing-function: $t-timing-function

    &__content
      margin-top: -80px

      .intro__inner__svg
        position: relative
        margin-bottom: -80px
        transform: translateX(-50%)

  &__title
    position: relative
    margin-bottom: 20px

    .letter-reveal__item
      filter: blur(2px)
      margin-left: -3px
      opacity: 0

    .letter-reveal__space
      width: 35px
      


  &__subtitle
    position: relative 
    width: 100%
    margin: 40px 0 $space-m
    left: 50%
    transform: translateX(-50%)
    transition:
      duration: .3s, .5s
      property: opacity, transform
      timing-function: $t-timing-function

    .letter-reveal
      &__item
        margin-right: 4px
        transform: scale(0.1) translateX(30px)

      &__space
        width: 12px

  &__teasing
    position: relative
    margin-top: $pos-s
    margin-bottom: $space-m
    padding-left: 90px
    padding-right: 90px
    font-style: italic
    transition: 
      duration: .3s, .5s
      property: opacity, transform
      timing-function: $t-timing-function
    
    &__item
      display: inline-block
      margin-top: 6px
      opacity: 0
      transform: translateY(50px)

      @include up-large-desktop()
        margin-top: 10px

      @for $i from 1 to 3
        &:nth-of-type(#{$i})
          transition: 
            delay: 3 + $t-duration * $i * .15
            duration: $t-duration * 1.5
            timing-function: $t-timing-function

    &.is-revealed
      .intro__teasing__item
        @for $i from 1 to 3
          &:nth-of-type(#{$i})
            transform: translateX(0)
            opacity: 1

  &__indication
    margin-top: $space-s
    opacity: 0
    transform: translateY(50px)
    transition: 
      delay: 3 + $t-duration * .1
      duration: $t-duration * 2
      timing-function: $t-timing-function

    &.is-revealed
      opacity: 1
      transform: translateY(0)
      animation: 
        delay: 3 + $t-duration * .1
        name: wobble
        direction: alternate-reverse
        duration: $t-duration * 3
        iteration-count: infinite
        fill-mode: forwards

  &__sound
    margin-top: $space-m
    display: inline-block
    opacity: 0
    transition: 
      delay: 3 + $t-duration * .1
      duration: $t-duration * 1.5

    &.is-revealed
      opacity: 1

  &__video
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    mix-blend-mode: screen
    z-index: 1
    pointer-events: none

  //Responsive
  @include up-desktop()

    &__inner
      top: 29%

    &__teasing
      margin-top: $pos-s

    &__inner
      .intro__inner__svg
        width: 800px

        text
          transform: translateX(-5px)

    &__inner__bottom
      margin-top: $space-l * 2

    //States
    &.is-hidden
      .intro__inner__svg
        transform: translateY(-300px)

  @include up-large-desktop()

    &__teasing
      margin-top: 70px

    &__inner
      .intro__inner__svg
        width: 800px

        text
          transform: translateX(-10px)

    &__inner__bottom
      margin-top: 100px

@keyframes translateUp
    0%
      opacity: 0
      transform: translateY(50px)
    
    100%
      opacity: 1
      transform: translateY(0)


@keyframes wobble
    0%
      opacity: .25
    
    100%
      opacity: 1
