@import "./../../styles/core.scss"
  
.intro
  height: 100vh
  background-image: url('/images/intro_background.png')
  background-size: cover
  background-repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center

  &__inner
    color: $color-secondary
    text-align: center
    width: 540px

  &__title
    margin-bottom: 20px

  &__subtitle
    margin: 20px 0
