@import "./../../styles/core.scss"

.header 
  position: fixed
  top: $space-s
  left: 0
  width: 100vw
  height: 0
  z-index: 2
  @include largeDesktop()
    top: $space-m


  &__menu
    position: absolute
    right: $space-s * 1.25
    border: none
    outline: none
    padding: ($space-m * .8) $space-s ($space-m * .9)
    box-shadow: none
    cursor: none
    @include largeDesktop()
      right: $space-m

    &:hover
      .header__burger
        transform: translateY(4px)
        &:before
          transform: translateY(-4px)
        &:after
          transform: translateY(4px)
        &__line
          transform: translateY(12px)

    &--close
      position: absolute
      top: $space-xs
      right: $space-s * .6
      height: 2px
      width: $space-m
      opacity: 0
      z-index: 5
      @include largeDesktop()
        right: $space-s

      &:before,
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        width: $space-m
        height: 1px
        background: $color-secondary
        z-index: 7
        transition: 
          duration: $t-duration
          property: transform, opacity
          timing-function: $t-timing-function

  &__burger
    opacity: 0

  &__links
    position: absolute
    top: $space-s
    right: $space-l
    pointer-events: none
    @include largeDesktop()
        right: $space-l * 1.5

  &__link
    display: inline-block
    margin-right: $space-m
    transform: translateY(200%)
    opacity: 0
    color: $color-secondary
    text-decoration: none
    pointer-events: none
    transition: 
      duration: $t-duration
      property: transform, opacity
      timing-function: $t-timing-function

  &.is-active
    .header__links
      pointer-events: all
      
    .header__link 
      transform: translateY(0)
      opacity: 1

    .header__menu--close
      opacity: 1
        
      &:before
        transform: translateY(15px) rotate(45deg)

      &:after
        transform: translateY(15px) rotate(-45deg)


