@import "./../../styles/core.scss"

.header 
  position: fixed
  top: 25px
  left: 0
  width: 100vw
  height: 0
  z-index: 2
  background: pink

  &__menu
    position: absolute
    right: $pos-s - 7
    top: 0
    border: none
    outline: none
    width: 36px
    height: 45px
    box-shadow: none
    cursor: none

    &:hover
      .header__burger
        transform: translateY(4px)
        &:before
          transform: translateY(-4px)
        &:after
          transform: translateY(4px)
        &__line
          transform: translateY(12px)

    &--close
      position: absolute
      top: 4px
      right: 25px
      opacity: 0
      z-index: 5

      &:before,
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        width: 17px
        height: 2px
        background: $color-secondary
        z-index: 7
        transition: 
          duration: $t-duration
          property: transform, opacity
          timing-function: $t-timing-function

  &__burger
    opacity: 0

  &__links
    position: absolute
    top: 12px
    right: $pos-s * 2
    pointer-events: none

  &__link
    display: inline-block
    margin-right: $pos-s
    transform: translateY(200%)
    opacity: 0
    color: $color-secondary
    text-decoration: none
    transition: 
      duration: $t-duration
      property: transform, opacity
      timing-function: $t-timing-function

  &.is-active
    .header__links
      pointer-events: all
      
    .header__link 
      transform: translateY(0)
      opacity: .5

      &:hover
        transform: scale(1.1)
        opacity: 1

    .header__menu--close
      opacity: 1
        
      &:before
        transform: translateY(15px) rotate(45deg)

      &:after
        transform: translateY(15px) rotate(-45deg)


  //Responsive
  @include up-desktop()
    top: $pos-s

    &__menu
      right: 34px
      width: 42px

      &--close
        &:before,
        &:after
          width: 20px

    &__links
      right: 75px

    @include up-desktop()
      &__menu
        &--close
          right: 38px
          &:before,
          &:after
            width: 35px

      &__links
        right: 85px
