@import "./../../../../styles/core.scss"
$border-width: 2px

.scale-menu
  position: fixed
  top: 50%
  left: $pos-s
  display: flex
  flex-direction: column
  z-index: 1
  transform: translateY(-50%)
  z-index: 7

  &__item
    text-align: left
    text-align: left
    padding-left: $space-m * .9
    padding-right: $space-l * 1.5
    margin-bottom: $space-s
    position: relative
    color: white
    outline: none
    cursor: none

    &::before
      content: ""
      display: block
      position: absolute
      top: 50%
      left: 0
      opacity: 0.5
      border: $border-width solid white
      transform: translateY(-50%) scale(0)
      border-radius: 100%
      box-sizing: border-box
      transition:
        property: background, transform
        duration: .7s
        timing-function: ease-out

    &:nth-child(1)
      padding-top: $space-xs + $border-width

      &:before
        left: 3.5px
        width: $space-xs + $border-width
        height: $space-xs + $border-width
    
    &:nth-child(2)
      padding-top:  $space-xs + ($border-width * 2)

      &:before
        left: 1.5px
        width:  $space-xs + ($border-width * 3)
        height:  $space-xs + ($border-width * 3)

    &:nth-child(3)
      padding-top: $space-s + $border-width
      margin-bottom: 0

      &:before
        width: $space-s + $border-width
        height: $space-s + $border-width 

    //States
    &.is-active
      &::before
        background-color: white
        opacity: 1

      .scale-menu__text
        opacity: 1

      &:hover
        &::before
          transform: translateY(-50%)

    &:hover
      &::before
        background-color: white
        opacity: 1
        transform: translateY(-50%) scale(1.2)

  &__text
    top: 50%
    transform: translateY(-50%) translateX(20px)
    pointer-events: none
    opacity: 0
    transition:
      property: opacity, transform
      duration: $t-duration
      timing-function: ease-out

    .letter-reveal__item
      padding-right: 2.2px
      width: auto

  &__tutorial
    color: $color-secondary
    font-style: italic
    position: absolute
    left: 140px
    top: 50%
    transform: translateX(-5%) translateY(-50%)
    width: 220px
    animation:
      name: wobbleUp
      delay: 0
      duration: 10s
      timing-function: $t-timing-function
      fill-mode: forwards

    &.is-hidden
      animation: none
      display: none

    &__icon
      position: absolute
      right: -50px
      top: 50%
      transform: translateY(-50%)
      opacity: 0
      visibility: hidden
      animation:
        name: goUpFromMiddle
        delay: .5s
        duration: 8s
        timing-function: $t-timing-function
        fill-mode: forwards

      &__circle
        position: relative
        animation:
          name: goDown
          delay: 1s
          duration: 1s
          direction: alternate-reverse
          timing-function: $t-timing-function
          fill-mode: forwards
          iteration-count: infinite

    &__item
      display: inline-block
      position: relative
      top: 10%
      opacity: 0
      visibility: hidden

      @for $i from 0 to 4
        &:nth-of-type(#{$i})
          animation:
            name: goUp
            delay: .5s + ($i * 0.5)
            duration: 8s - ($i * 0.75)
            timing-function: $t-timing-function
            fill-mode: forwards

  //Responsive
  @include desktop()
    left: $pos-m

    &__item
      margin-bottom: $space-m * .75
      padding-left: $space-m * 1.1

      &:nth-child(1)
        padding-top: $space-xs + ($border-width * 2)

        &:before
          width: $space-xs + ($border-width * 2)
          height: $space-xs + ($border-width * 2)

      &:nth-child(2)
        padding-top: $space-s + $border-width

        &:before
          width: $space-s + $border-width
          height: $space-s + $border-width
      
      &:nth-child(3)
        padding-top: $space-s + $space-xs
        margin-bottom: 0

        &:before
          width: $space-s + $space-xs
          height: $space-s + $space-xs

    &__tutorial
      width: 250px
      left: 170px

  @include up-large-desktop()
    left: $pos-m

    &__item
      margin-bottom: $space-m
      padding-left: $space-m * 1.3

      &:nth-child(1)
        padding-top: $space-xs + ($border-width * 3)

        &:before
          width: $space-xs + ($border-width * 3)
          height: $space-xs + ($border-width * 3)

      &:nth-child(2)
        padding-top: $space-s + ($border-width * 3)

        &:before
          width: $space-s + ($border-width * 3)
          height: $space-s + ($border-width * 3)
      
      &:nth-child(3)
        padding-top: $space-s + ($border-width * 3)
        margin-bottom: 0

        &:before
          width: $space-m - ($border-width * 2)
          height: $space-m - ($border-width * 2)

    &__tutorial
      width: 270px
      left: 190px

  @keyframes wobbleUp
    0%
      transform: translateX(-5%) translateY(-50%)

    10%
      transform: translateX(0) translateY(-50%)

    32.5%
      transform: translateX(-10%)  translateY(-50%)

    55%
      transform: translateX(0)  translateY(-50%)

    77.5%
      transform: translateX(-10%)  translateY(-50%)

    100%
      transform: translateX(0) translateY(-50%)

  @keyframes goUp
    0%
      transform: translateY(50px)
      opacity: 0

    10%
      opacity: 1
      visibility: visible

    20%
      transform: translateY(0)
      opacity: 1
      visibility: visible

    80%
      transform: translateY(0)
      opacity: 1
      visibility: visible

    100%
      transform: translateY(20px)
      opacity: 0
      visibility: hidden

  @keyframes goDown
    0%
      transform: translateY(0)
      opacity: 1

    100% 
      transform: translateY(5px)
      opacity: .25


  @keyframes goUpFromMiddle
    0%
      transform: translateY(0)
      opacity: 0

    20%
      opacity: 1
      visibility: visible

    30%
      transform: translateY(-50%)
      opacity: 1
      visibility: visible

    80%
      transform: translateY(-50%)
      opacity: 1
      visibility: visible

    100%
      transform: translateY(0)
      opacity: 0
      visibility: hidden
