@import "./../../styles/core.scss"
$animation-duration: .2s
  
.timeline
  position: fixed
  bottom: 0
  width: 100%
  box-sizing: border-box
  padding: $space-s*5 160px $pos-s
  left: 50%
  transform: translateX(-50%)
  display: flex
  align-items: center
  justify-content: center

  //States
  &.is-active
    .timeline__chapter
      &__indicator
        opacity: .25
        transform: translateY(0)
        transition: transform $animation-duration ease-out, opacity $animation-duration ease-out

      &__title
        opacity: .5
        transform: translateY(0)
        transition: $animation-duration transform $animation-duration ease-out, $animation-duration opacity $animation-duration ease-out

  &__inner
    position: relative
    width: 60vw
    min-width: 500px
    max-width: 1100px
    display: flex

    &:before
      content: ''
      position: absolute
      width: 100%
      border-bottom: 1px dashed $color-secondary
      opacity: .5

  &__chapter
    color: $color-secondary
    white-space: nowrap
    display: flex
    align-items: center

    &--prev
      .letter-reveal
        left: 100px
        padding-right: 10px
        transform: translateX(-100%)

    &--next
      .letter-reveal
        right: 100px
        padding-left: 20px
        transform: translateX(100%)

    &__control
      padding: 14px
      opacity: .5

      &--next
        margin-left: -12px
        margin-top: 2px

    &__control
      &--prev
        transform: rotate(-180deg)
        margin-right: -12px

    &__inner
      display: flex
      flex-direction: column
      text-align: center

    &__indicator
      opacity: 0
      transform: translateY(10px)
      transition: $animation-duration transform $animation-duration, $animation-duration opacity $animation-duration

    &__title
      margin-top: 5px
      opacity: 0
      transform: translateY(10px)
      transition: transform $animation-duration, opacity $animation-duration

    //State
    &:hover
      .timeline__chapter
        &__control
          opacity: 1

        &__title
          opacity: 1
          transition: transform $animation-duration, opacity $animation-duration

        &__indicator
          opacity: .5
          transition: transform $animation-duration, opacity $animation-duration          

  &__list
    position: relative
    width: 100%
    display: flex

    &:before,
    &:after
      content: ''
      position: absolute
      top: -5px
      height: 10px
      background: $color-secondary
      width: 1px

    &:after
      right: 0

  &__progress
    position: absolute
    left: 0
    right: 0
    background: $color-secondary
    height: .5px
    transform-origin: left
    transition: 
      duration: $t-duration
      property: transform
      timing-function: $t-timing-function
    z-index: 1

  //Responsive
  @include up-desktop()
    padding-bottom: $pos-m

  @include up-large-desktop()
    padding-bottom: 50px


