@import "~/styles/core.scss"

.info-point
  $self: &
  position: fixed
  top: 0
  left: 0
  color: #ffffff
  opacity: 1
  will-change: transform
  transform: scale(1)
  transition: 
    property: opacity
    duration: .5s
    timing-function: ease
  
  @for $i from 1 to 5
    &:nth-child(#{$i})
      transition-delay: $i*.1s

  &--hidden
    transform: scale(0.5)
    opacity: 0
    pointer-events: none

  &:before
    content: ""
    position: absolute
    left: 3px
    top: -28px
    width: 86px
    height: 1px
    background: currentColor
    opacity: 0
    transform: scale(0) rotate(-45deg)
    transform-origin: 0 0
    transition:
      property: width, transform, opacity
      timing-function: ease
      duration: 0.2s
      delay: .7s
    z-index: 9    

  &__title
    position: absolute
    bottom: 100%
    left: 0
    right: 0
    font-family: $font-primary
    font-size: 20px
    font-weight: 900
    text-transform: uppercase
    padding-bottom: $space-xs
    margin-bottom: 15px
    &:after
      content: ""
      opacity: 0
      position: absolute
      left: -36px
      right: 0
      bottom: -2px
      height: 1px
      background: currentColor
      transform: scale(0)
      transform-origin: 0 0
      transition:
        property: width, transform, opacity
        timing-function: ease
        duration: 0.5s
        delay: 0.35s

    &__wrapper
      opacity: 0
      display: block
      transform: translateY(10px)
      transition:
        property: transform, opacity
        timing-function: $t-timing-function
        duration: $t-duration

  &__content
    visibility: hidden
    opacity: 0
    position: absolute
    left: 100px
    top: -75px
    font-size: 16px
    width: 260px
    pointer-events: none
    transition:
      property: opacity, visibility
      timing-function: ease
      duration: 0.4s
      delay: 0.4s

  &__pointer
    position: absolute
    top: -32px
    left: -20px
    display: flex
    align-items: center
    justify-content: center
    width: 25px
    height: 25px
    border: 1px solid currentColor
    border-radius: 100%
    transition:
      property: background, transform, opacity
      duration: $t-duration
      timing-function: $t-timing-function

    &:before,
    &:after
      content: ""
      opacity: 1
      position: absolute
      width: 12px
      height: 2px
      background: currentColor
      transform-origin: center

    &:before
      transform: rotate(90deg)

    &:hover
      transform: scale(1.2)
      background: currentColor

      &:before,
      &:after
        background: #CCCCCC

  &__text
    transform: translateY(-5px)
    opacity: 0
    transition:
      property: transform, opacity
      duration: $t-duration * 2
      delay: 0
      timing-function: $t-timing-function

  &--hidden
    display: block


  &--opened
    &:before
      opacity: 1
      transform: scale(1) rotate(-45deg)
      transition-delay: .1s

    #{$self}__content
      pointer-events: all
      visibility: visible
      opacity: 1

    #{$self}__title

      &:after
        opacity: 1
        transform: scale(1)

      &__wrapper
        opacity: 1
        transform: translateY(0)


    #{$self}__pointer
      background: currentColor
      transform: rotate(45deg) scale(1.3)
      &:before,
      &:after
        background: #CCCCCC

    
    #{$self}__text,
    .info__range
      transform: translateY(0)
      opacity: 1
      transition-delay: .5s

  //Responsive
  @include up-desktop()
    &__pointer
      width: 30px
      height: 30px

    &__title
      margin-bottom: 20px
      padding-bottom: 12px

    &:before
      left: 0
      top: -30px
      width: 91px

  @include up-large-desktop()
    &__pointer
      width: 35px
      height: 35px

    &__title
      margin-bottom: 25px

    &__content
      left: 125px

    &:before
      left: 6px
      top: -16px
      width: 117px

.info__range
  $self: &
  position: relative
  transform: translateY(-5px)
  opacity: 0
  transition:
    property: transform, opacity
    duration: $t-duration * 2
    delay: 0
    timing-function: $t-timing-function

  &__answer,
  &__question
    position: absolute
    left: 0
    right: 0
    transition:
      property: opacity, visibility
      duration: $t-duration * 1.5
      timing-fucntion: $t-timing-function
      
  &__answer
    opacity: 0
    visibility: hidden

  &__text
    margin-top: 15px
    opacity: 0
    transform: translateY(30px)
    transition: 
      property: transform, opacity
      duration: $t-duration * 2
      timing-function: $t-timing-function

    //States
    &.is-visible
      transform: translateY(0)
      opacity: 1

  &__wrapper
    position: relative
    width: 100%
    margin-top: 10px
    padding: 14px 0
    display: flex
    align-items: center
    color: $color-secondary
    pointer-events: all
    cursor: none

  &__slider
    position: relative
    width: 100%
    padding: ($space-xs / 2) 0 
    border-left: 1px solid $color-secondary
    border-right: 1px solid $color-secondary
    pointer-events: none

    &:before
      content: ''
      position: absolute
      left: 0
      right: 0
      height: 1px
      background: $color-secondary
      pointer-events: none

  &__slide
    position: absolute
    top: -4px
    left: 50%
    transform: translateX(-50%)
    display: flex
    flex-direction: column
    align-items: center
    pointer-events: none
    transition: 
      property: all
      duration: $t-duration
      timing-function: $t-timing-function


    &__button
      display: block
      width: 12px
      height:  12px
      border-radius: 10px
      border: none
      background: $color-secondary
    
    &__text
      margin-top: 6px
      font-family: $font-secondary
      font-size: 14px
      font-style: italic
      font-weight: 600
      color: $color-secondary

  &__value
    position: absolute
    top: $space-s
    font-family: $font-primary
    font-size: 14px
    font-weight: bold
    opacity: 0
    transition: 
      property: opacity, transform
      duration: $t-duration
      timing-function: $t-timing-function

    //States
    &.is-visible
      opacity: 1

    &--min
      left: 0
      transform: translateX(-50%) translateY(10px)

      //States
      &.is-visible
        transform: translateX(-50%) translateY(0)

    &--max
      right: 0
      transform: translateX(50%)  translateY(10px)

      //States
      &.is-visible
        transform: translateX(50%) translateY(0)

  &__btn
    width: 140px
    margin-top: 70px
    padding: 7px 0
    border-radius: 4px
    border: 1px solid $color-secondary 
    text-align: center
    color: $color-secondary
    letter-spacing: 1px
    transition:
      property: all
      duration: $t-duration
      timing-function: $t-timing-function

    &.heading-6
      font-weight: 400

    &:hover
      letter-spacing: 4px

  &__number
    transform: skewY(20deg) translateY(70px)
    transition:
      property: transform
      duration: $t-duration * 2
      timing-function: $t-timing-function


  &.is-answered
    #{$self}__question
      opacity: 0
      visibility: hidden

    #{$self}__answer
      opacity: 1
      visibility: visible

    #{$self}__number
      transform: skewY(0) translateY(0)
