@import "~/styles/core.scss"

.fullscreen-button
  display: block
  // width: 30px
  height: 30px
  margin-left: $pos-s
  cursor: none
  transform: scale(1)
  transition:
    property: transform
    duration: .4s
    timing-function: ease

  &:hover
    transform: scale(1.3)
    
  img 
    height: 15px
    width: auto
    
  @include up-desktop()
    img 
      height: 22px

  @include up-large-desktop()
    img 
      height: 25px
